spring:
  datasource:
    url: jdbc:h2:mem:securitydb
    username: sa
    password:
    driver-class-name: org.h2.Driver

  h2:
    console:
      enabled: true
      path: /h2-console

  flyway:
    enabled: true
    locations: classpath:db/migration

app:
  security:
    jwt:
      secret: mQ8vR1tU9xAaF7sKd2LpW4zXe6YhN3jC0oVbQ5gTf8MiR2kS1JwL7nZ9XcB4hTq
      expiration: 86400000 #24-hr Validity
server:
  port: 8083
